.head-link-icon {
	width: 25px;
	padding: 5px;
}

.body-head {
	font-family: 'Open Sans', sans-serif;
	font-style: bold;
}

.body-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-align: justify;
}