@font-face {
	font-family: ow;
	src: url(../assets/font/bignoodletoo.woff);
}

.link-image {
	width: 25px;
	padding: 5px;
	-webkit-filter: opacity(70%); filter: opacity(70%);
	-webkit-transition: all 0.5s
}

.link-image:hover {
	-webkit-filter: opacity(100%); filter: opacity(100%);
	-webkit-transition: all 0.5s
}

.body-head {
	font-family: 'Open Sans', sans-serif;
	font-style: bold;
}

.body-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding-left: 20px;
	padding-right: 20px;
}

#to-top-btn {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	cursor: pointer; /* Add a mouse pointer on hover */

}

.main-title {
	font-family: ow;
	text-shadow: 2px 2px 8px #000000;
	font-size: 55px;
}

.main-text {
	text-shadow: 2px 2px 8px #000000;
	font-size: 20px;
	line-height: 140%;
}

#discord-link {
	cursor: pointer;
}

.btn-icon {
	width: 32px;
}

.body-link {
	text-decoration: none;
	padding: 0px;
}